body {
    background-color: lightgray;
}


body {
    margin: auto;
    width: 56%;
    border: 10px inset darkgray;
    padding: 30px;
}

h1 { text-align: center;text-shadow: 2px 3px darkgray;}

p { text-align: center;font-size: 120%;}

 img {
    display: block;
    margin: auto;

}

ul li { padding: 5px;}
ul { text-align: center; font-size: 120%;}
footer{text-align: center;}